body{
    display: flex;
    place-content: center;
    background-color: pink;
    padding-top: 20px;
}
main{
    width: 650px;
    height: auto;
    background-color: rgba(255, 255, 255,75%);
    border-radius: 20px;
    
}
img{
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}
h1{
    padding-left: 25px;
    font-family: 'Young Serif';
    color: #F2913D;
}
p{
    padding-left: 25px;
    padding-right: 25px;
    color: #732C02;
}
span{
    font-weight: 400;
    font-family: 'Young Serif';
}
h2{
    padding-left: 25px;
    font-family: 'Young Serif';
    color: #F2A950;
}
h3{
    padding-left: 35px;
    font-family: 'Young Serif';
    color: #F2A950;
}
li{
    padding-left: 40px;
    padding-right: 25px;
    color: #732C02;
}
ol{
    padding-left: 50px;
}
ol>li{
    padding-left: 0px;
    padding-right: 25px;
}
.nut{
    display: flex;
    justify-content: space-between;
}